@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 20% 5%;
    --foreground: 37 30% 91%;

    --card: 36 10% 16%;
    --card-foreground: 37 30% 91%;

    --popover: 36 10% 16%;
    --popover-foreground: 37 30% 91%;

    --primary: 36 55% 50%;
    --primary-foreground: 40 33% 98%;

    --secondary: 39 30% 40%;
    --secondary-foreground: 40 33% 98%;

    --muted: 36 10% 20%;
    --muted-foreground: 37 10% 65%;

    --accent: 36 55% 50%;
    --accent-foreground: 40 33% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 33% 98%;

    --border: 39 30% 30%;
    --input: 39 30% 30%;
    --ring: 36 55% 50%;

    --radius: 0.5rem;

    --sidebar-background: 33 20% 5%;
    --sidebar-foreground: 37 30% 91%;
    --sidebar-primary: 36 55% 50%;
    --sidebar-primary-foreground: 40 33% 98%;
    --sidebar-accent: 36 10% 16%;
    --sidebar-accent-foreground: 37 30% 91%;
    --sidebar-border: 39 30% 30%;
    --sidebar-ring: 36 55% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'WarThunder';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'WarThunder', sans-serif;
  letter-spacing: 1px;
}